.aws-btn {
	--slider-height-percentage: 60%;
	--slider-transition-duration: 670ms;
	--organic-arrow-thickness: 2px;
	--organic-arrow-border-radius: 0px;
	--organic-arrow-height: 19px;
	--organic-arrow-color: #fff;
	--control-button-width: 9%;
	--control-button-height: 31%;
	--control-button-background: transparent;
	--control-bullet-color: #a3b9d0;
	--control-bullet-active-color: #8b9db1;
	--loader-bar-color: #851515;
	--loader-bar-height: 3px;
}

.home-icon {
	font-size: 55px;
}

.second-section {
	background-color: #EFEFEF;
}

.arrow-icon {
	font-size: 25px;
}